numpy
rq
loguru
#torchaudio
opencv-python-headless
python-dotenv

langchain-core
langchain-google-genai
langchain_openai

#----for database----
minio
redis
confluent-kafka
aiokafka

# ----tts----
munch
noisereduce
phonemizer
espeakng-loader
nltk
soundfile
librosa
nvidia-ml-py
